@import "./variables";

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &__image {
    min-height: 192px;
    // max-height: 250px;
    width: 100%;
  }

  &__shop {
    padding: 16px 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
      display: flex;
      align-items: center;

      &__avatar {
        height: 48px;
        width: 48px;

        display: block;
        margin-right: 12px;
        border-radius: 50%;

        position: relative;

        img {
          border-radius: 50%;
          cursor: pointer;
          max-height: 100%;
          max-width: 100%;
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto auto;
        }
      }

      &__info {
        width: calc(100% - 48px);
        &__company {
          display: flex;
          align-items: center;

          &__name {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 65vw;
            &__waiting {
              font-weight: 500;
              font-size: 16px;
              line-height: 22px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 65vw;
              color: #848c94;
            }
          }

          &__verification {
            margin-left: 8px;
            margin-right: 8px;
          }
        }

        &__enterprise {
          color: $gray;
          margin-top: 2px;
        }
      }
    }

    &__right {
      width: 24px;
      height: 24px;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid;
    }
  }

  &__group-btn {
    display: flex;
    align-items: center;

    padding: 12px 16px 0;

    &__item {
      height: 40px;
      flex: 1;

      background: linear-gradient(90deg, red 0%, #C60000 100%);
      border-radius: 100px;

      display: flex;
      align-items: center;
      justify-content: center;

      color: $white;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;

      cursor: pointer;
    }

    .follow {
      background: #03b34214;
      color: #046c2a;
      margin-left: 8px;
    }

    .followed {
      flex: unset;
      width: 50px;
      height: 38px;

      display: flex;
      align-items: center;
      justify-content: center;

      background: $white;
      // border: 1px solid $grey;
      border-radius: 30px;

      margin-left: 8px;
    
    }
  }

  &__detail {
    padding: 12px 16px 0;

    &__certification {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__oa {
        display: flex;
        align-items: center;

        &__text {
          margin-left: 6px;
          color: $grayish;
        }
      }

      &__chevron {
        cursor: pointer;
      }
    }

    &__certification-text {
      margin-top: 12px;
    }

    &__divide {
      margin-top: 12px;
    }

    &__item {
      display: flex;
      align-items: center;

      margin-top: 10px;

      &__text {
        margin-left: 8px;
      }

      .primary {
        color: $primary;
      }

      .red {
        color: $red;
      }

      .green {
        color: #03b342;
      }

      .closed {
        margin-right: 4px;
      }
    }

    &__description {
      margin-top: 10px;
      font-size: 14px;
      line-height: 18px;
    }

    .is-truncate {
      @include truncate-multi-lines(2);
    }

    &__see-more {
      display: inline-block;
      margin-top: 10px;

      color: $primary;
      font-size: 14px;
      line-height: 18px;

      cursor: pointer;
    }
  }

  &__fast-interact {
    margin-top: 12px;
    padding-left: 16px;

    &__divide {
      margin: 0 16px 12px 0;
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
    }
    &__list {
      margin-top: 12px;
      overflow-x: scroll;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      white-space: nowrap;

      &__item {
        display: inline-block;

        padding: 8px 16px;
        margin-left: 12px;

        background: $secondary;
        border-radius: 100px;

        color: $primary;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;

        cursor: pointer;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &__services {
    margin-top: 12px;
    padding-left: 16px;
    padding-right: 4px;

    &__divide {
      margin-right: 12px;
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 12px;
      margin-top: 12px;
    }

    &__block {
      width: 100%;

      background: $white;
      box-shadow: 0px 2px 6px rgba(20, 20, 21, 0.14);
      border-radius: 8px;
      margin: 0 15px;

      // margin-right: 12px;
      // margin-top: 12px;
      cursor: pointer;
      // padding-bottom: 20px;

      &__content {
        // padding: 12px;
        text-align: center;
        max-height: 83px;
        overflow: hidden;
        &__icon {
          width: 20px;
          height: 20px;
        }
        img {
          height: 83px;
        }

        &__title {
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          overflow: hidden;
          margin-top: 6.39px;
          margin-bottom: 2px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
        }

        &__desc {
          color: $grayish;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
        }

        &:first {
          margin-left: 0;
        }
      }
    }
  }

  &__blogs {
    margin-top: 16px;
    padding: 0 16px;

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;

      margin-top: 12px;
    }

    &__article {
      overflow: hidden;
      margin-top: 12px;

      > img {
        width: calc(100vw - 34px);
        height: calc((100vw - 34px) * 0.5625);
        vertical-align: middle;
        object-fit: initial;
      }

      background: $white;
      border: 0.5px solid $greyish;
      box-sizing: border-box;
      border-radius: 8px;

      &__date {
        color: #848c94;
        margin-top: 12px;
        margin-left: 12px;
      }

      &__title {
        font-size: 16px;
        line-height: 22px;
        white-space: pre-line;

        margin-top: 8px;
        margin-bottom: 12px;
        margin-left: 12px;
      }
      &__summary {
        padding-left: 12px; 
        padding: 12px;
        padding-top: 0px;
        color: #848c94;
        line-height: -1.5em;
        height: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

   
    }

    &__history_item {
      margin: 10px 0px;
      background-color: #03b3420f;
      border-radius: 10px;
      padding-bottom: 10px;
      &__header {
        font-size: 0.9rem;
        font-weight: 500;
        padding: 7px;
        background-color: #03b3420f;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }
      &__footer {
        padding: 10px;
        padding-top: 0;

        &__btn {
          padding: 10px 10px;
          text-align: center;
          color: white;
          background-color: #fd0000;
          border-radius: 15px;
          font-weight: 600;
        }
      }
    } 
  }
}

.empty {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 16px 16px 0;
  border-top: 0.5px solid #e0e0e0;

  &__text {
    margin-top: 16px;
    color: #667685;
  }
}

.btn-test {
  height: 40px;
  width: 152px;

  margin-top: 16px;

  background: $primary;
  border: 1px solid $primary;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $white;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}


.Register {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  &__title {
    padding: 40px 20px;
    font-size: 1rem;
    > h2 {
      font-size: 1.2rem;
      font-weight: 600;
      }
    }
    
    
  &__content {
    padding: 0 20px;
    font-size: 1rem;
    &___form-group {
      padding: 15px 0px;
      > p {
        font-size: 1.1rem;
        padding-bottom: 10px;
      }

      > input {
        width: calc(100% - 20px);
        border: 1px solid #ced4da;
        height: 43px;
        border-radius: 12px;
        font-size: 1.2rem;
        padding-left: 15px;
      }

      > select {
        width: calc(100%);
        border: 1px solid #ced4da;
        background-color: #fff;
        height: 47px;
        border-radius: 12px;
        font-size: 1.2rem;
        padding-left: 15px;
      }

      &__cement-item {
        >p {
          font-size: 1.1rem;
          display: inline-block;
          padding: 16px;
        }
      }
    }
    &__group-btn {
      height: 45px;
      flex: 1 1;
      background: linear-gradient( 90deg , red 0%, #C60000 100%);
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      cursor: pointer;
    }
  }
  
 
  &__footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    background: linear-gradient(90deg, red 0%, #C60000 100%);
    &__wrapper {
      padding-top: 16px;
      padding-bottom: 11px;
      text-align: center;
    }
  }

}


.line-title ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.line-title ul li {
  display: inline-block;
  width: 68px;
  background: #B4B4B4;
  height: 3px;
  cursor: pointer;
  margin-right: 10px;
}
.line-title ul li.active {
  background: #CD0000;
}

.error {
  padding: 10px;
    color: red;
    font-size: 0.9rem;
}

a {
  text-decoration: none;
}