h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-style: normal;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: transparent;
}

hr {
  border: 0;
  border-top: solid 0.5px #e0e0e0;
}

.bv-content p, strong{
  line-height: 2rem !important;
}

a {
  color: black;
}